* {
   box-sizing: border-box;
}

body {
   background-image: url(../img/background.png);
   background-position: center;
   font-family: sans-serif;
   margin: 0;
}

header {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2rem 0;
}

input {
   border: none;
   border-radius: 1rem;
   padding: .5rem .8rem;
   margin-bottom: 1rem;
   outline: none;
}

button {
   background-color: #fc4545;
   border: none;
   border-radius: 1rem;
   color: white;
   cursor: pointer;
   font-weight: 600;
   padding: .5rem 1rem;
}

.search-results {
   text-align: center;
   height: 500px;
   padding: 0 4rem;
   overflow-y: scroll;
}

.search-results .error-message {
   background-color: #1a1a1ade;
   border-radius: .2rem;
   color: #fe2c2c;
   display: inline-block;
   font-size: 1.2rem;
   padding: .2rem .5rem;
}

.cards-list {
   display: grid;
   grid-template-columns: repeat(auto-fit, 220px);
   gap: .8rem;
}

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   text-align: center;
}